@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
/* common-css-start */

.font-12{
    font-size: 12px;
}
.bg-blue{
    background: #1a3759 !important;
}
.bg-white{
    background: #ffff !important;
}
.font-13 {
    font-size: 13px;
    color: #9698b3 !important;
}
.text-gray{
color: #9698b3;
}
.text-blue {
    color: #1a3759 !important;
}
/* common-css-end */
.th-section {
    background: #1d2144 ;
    font-size: 12px;
}
.logo{
    width: 180px;
}
.mh-section ul li .nav-link {
    font-weight: 700;
    font-size: 14px;
    padding: 0px 12px !important;
    
}
/* hero-section-start */
.hero-section h1 {
    font-weight: 500;
    position: relative;
}

.hero-section h1::before {
    content: "";
    width: 4px;
    background: #ffc107;
    height: 155px;
    position: absolute;
    left: 0;
    top: 0;
}

.hero-section {
    background: linear-gradient(#333e4ec2, #333e4ec2),
        url(../media/image/1.jpg ) center center no-repeat;
    background-size: cover;
    padding: 120px 0px !important;
}
/* hero-section-end */

/* Platform-section-Start */
.programe-section{
    padding-bottom: 235px !important;
}
.Platform-section .b{
    font-weight: 600;
}
.Platform-section h5{
     font-size: 16px;
     color: #3a5877 !important;
     font-weight: 600;
}

.Platform-section .a{
    font-weight: 400;
    font-size: 36px;
    position: relative;

}
.Platform-section h1::before{
     content: "";
     width: 4px;
     background: #ffc107;
     height: 87px;
     position: absolute;
     left: 0;
}
.font-12 {
    font-size: 13px;
    font-weight: 600;
}
/* Platform-section-end */

/* Programe-section-start */
.btn-blue{
    background: #1a3759;
}
.programes{
    box-shadow: 0px 0px 25px 2px #787d7f6b;
}
.br{
    border: 1px solid #dadce0;
}
.programe{
    margin-top: -205px !important;
}
.programe-section h1{
    font-weight: 300;
}.programe-section h1 strong{
    font-weight: 600;
}
/* Programe-section-end */
